#card {
    width: 85%;
    background-color: var(--card-bg-color);
    border-radius: 16px;
    text-align: center;
    font-family: var(--font);
    font-size: 16px;
}

#info__title {
    margin-top: 1em;
}

#info__text {
    color: var(--font-color);
    font-size: 16px;
    padding: 0 1em;
    line-height: 1.7em;
}

#card__image {
    width: 100%;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}

#info {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

#info__plan {
    margin: 0.5em 0;
    background-color: var(--plan-bg);
    border-radius: 16px;
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
}

#change {
    align-self: center;
    font-weight: 700;
}

#price {
    color: var(--font-color);
}

#info__payment-button {
    background-color: var(--payment-btn-bg);
    color: white;
    padding: 1em;
    border-radius: 16px;
    box-shadow: 0px 10px 60px -15px var(--payment-btn-bg);
    margin-bottom: 0.5em;
}



#info__cancel a {
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: var(--font-color);
    margin-bottom: 2em;
}
 
@media (min-width: 1024px) {
    #card {
        width: 30%;
    }
}