@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
:root {
    --bg-color: hsl(225, 100%, 94%);
    --card-bg-color: white;
    --font: 'Red Hat Display', sans-serif;
    --plan-bg: hsl(225, 100%, 98%);
    --payment-btn-bg: hsl(245, 75%, 52%);
    --font-color: hsl(224, 23%, 55%);
}