@use 'core';
.card {
    width: 85%;
    background-color: core.$card-bg-color;
    border-radius: 16px;
    text-align: center;
    font-family: core.$font;
    font-size: 16px;
    &__image {
        width: 100%;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;

    }

    @media (min-width: 768px) and (orientation: portrait) {
        width: 45%;
    }

    @media (min-width: 768px) and (orientation: landscape) {
        width: 35%;
    }

    @media (min-width: 1280px) {
        width: 28%;
    }

 
}

.info {
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    &__title {
        margin-top: 1em;
        font-weight: 900;
        
    }
    &__text {
        color: core.$font-color;
        font-size: 16px;
        padding: 0 1em;
        line-height: 1.7em;
        @media (min-width: 1280px) {
            padding: 0 1em;
            line-height: 1.5em;
        }
        
    }
    &__change {
        align-self: center;
        font-weight: 700;
    }
    &__payment-button {
        background-color: core.$payment-btn-bg;
        color: white;
        padding: 1em;
        border-radius: 16px;
        box-shadow: 0px 8px 45px -12px core.$payment-btn-bg;
        margin-bottom: 0.5em;
        cursor: pointer;
        &:active {
            background-color: core.$active-p-btn;
        }
       
    }
    &__cancel {
        display: inline-block;
        text-decoration: none;
        font-weight: 900;
        color: core.$font-color;
        margin-bottom: 2em;

        a {
            text-decoration: none;
            color: core.$font-color;
        }
       
    }
    @media (min-width: 1280px) {
        padding: 0 1.5em;
    }
  

}

.plan {
    margin: 0.5em 0;
    background-color: core.$plan-bg;
    border-radius: 16px;
    padding: 1em 0;
    display: flex;
    justify-content: space-around;
    strong {
        color: black;
        font-weight: 900;
    }
    
   
    &__price {
        color: core.$font-color;
    }
    &__change {
        align-self: center;
        font-weight: 700;
        
        &:active {
            color: core.$active-change;
            text-decoration: none;
        }  
    }
    &__info {
        display: flex;
        gap: 0.5em;
    }
}